body {
   display: grid;
   place-items: center;
   width: 100dvw;
   height: 100dvh;
   overflow: hidden;
}

.clock {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 15px 25px black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 90px;
  width: 280px;
}

.clock h1:nth-child(odd) {
  padding: 5px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.2);
  margin: 0 8px;
}
